@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

.pinned-filters {
  margin-left: -2rem;
  margin-right: -2rem;
}

.pinned-category {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}
